#header_section {
    width: 95%;
    padding: 10px;
    margin-bottom: 50px;
}

#logo_img {
  max-width: 160px;
  width: 160px;
  float: left;
}

.header_form {
  margin-top: 80px;
}

#header_buttons {
  text-align: right;
  padding-top: 0px;
}

#login_button {
  float: right;
  margin-top: 21px;
  margin-right: 15px;
}

#sign-up_button {
  float: right;
  margin-top: 21px;
  margin-right: 15px;
}

#post_a_project_button {
  float: right;
  margin-top: 15px;
  background-color: #f77d0e;
  color: #f5f6f7;
  border: 1px solid #f77d0e;
  text-shadow: 0 -1px transparent;
  font-weight: bold;
  background: linear-gradient(to bottom, #fc8c14 0, #f77d0e 100%);
}

#home_div {
  background: url("/../img/hot_air_ballon.jpg") no-repeat center left fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 400px;
}

#home_div img {
  height: 100%;
  width: 100%;
}

#home_div h1, h3 {
  max-width: 50%;
}
