<section id="header_section">
  <div id="logo_div">
    <a ui-sref="home"><img id="logo_img" src="img/logo.png"></a>
  </div>

  <div id="header_buttons">
    <a ui-sref="post-a-project"><div class="btn btn-secondary" id="post_a_project_button">Post a Project</div></a>
    <a ui-sref="sign-up"><div id="sign-up_button">SIGN UP</div></a>
    <!-- <a ui-sref="login"></a> -->
    <div id="login_button">LOGIN</div>
  </div>

  <div id="hidden">
    <div ui-view="login">
      <!-- <h1>---test login.html---</h1>

      <h3><a ui-sref="home">home</a></h3> -->
    </div>
  </div>

</section>
